@media(max-width:1200px) {

}

@media(max-width:992px) {
    .nav__menu{
        margin-left: 0;
    }
    .info__right{
        margin-right: 100px;
    }
}

@media(max-width:768px) {
    .info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        height: 100px;
    }
    .info__right{
        margin-left: 90px;
    }
    .nav__menu{
        gap: 30px;
    }
    .menu__link{
        font-size: 12px;
    }
    .slider__title{
        font-size: 20px;
    }
}

@media(max-width:600px) {
    .nav{
        flex-direction: column;
        gap: 30px;
    }
}

@media(max-width:375px) {
    .info__left{
        flex-direction: column;

    }
    .info{
        height: 330px;
    }
    .info__right_link{
        font-size: 12px;
        
    }
    .info__right{
        width: 300px;
        align-items: center;
        flex-direction: column;
    }
}

@media(max-width:320px) {
    .info__right_link{
        font-size: 10px;
        gap: 0px;
    }
    .menu__link{
        font-size: 12px;
    }
}