*{
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-SemiBoldItalic.eot');
	src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
		url('../fonts/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-SemiBoldItalic.woff') format('woff'),
		url('../fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-LightItalic.eot');
	src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
		url('../fonts/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-LightItalic.woff') format('woff'),
		url('../fonts/OpenSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.eot');
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Bold.woff') format('woff'),
		url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-ExtraBoldItalic.eot');
	src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
		url('../fonts/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-ExtraBoldItalic.woff') format('woff'),
		url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Light.eot');
	src: local('Open Sans Light'), local('OpenSans-Light'),
		url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Light.woff') format('woff'),
		url('../fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Italic.eot');
	src: local('Open Sans Italic'), local('OpenSans-Italic'),
		url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Italic.woff') format('woff'),
		url('../fonts/OpenSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.eot');
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Regular.woff') format('woff'),
		url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-SemiBold.eot');
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-SemiBold.woff') format('woff'),
		url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-ExtraBold.eot');
	src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
		url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
		url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-BoldItalic.eot');
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
		url('../fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-BoldItalic.woff') format('woff'),
		url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    margin: 20px auto;
    background-color: #fff;
}
.nav__menu{
    display: flex;
    gap: 70px;
    margin-left: 250px;
    align-items: center;
}
.nav__menu_item{
   
}
.menu__items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 0;
    opacity: 0;

} .nav__menu:hover .menu__items{
    height: 100%;
    opacity: 1;

}
.nav__menu_item .nav__menu_item-brends{
    display: flex;
    flex-direction: column;
    
    
    
}
.arrow{
    transition: 0.4s;
}
.nav__menu_item:hover .arrow{
    color: red;

}   
.nav__icons{
    display: flex;
    gap: 30px;

}
.menu {
    position: absolute;
    z-index: 5;
    line-height: 40px;
    height: 0px;
    overflow: hidden;

    transition: 1s;
    margin-top: -1px;
}.menu-brends {
    position: absolute;
    z-index: 5;
    line-height: 40px;
    height: 0px;
    overflow: hidden;
    
    transition: 1s;
    margin-top: -1px;
}

.menu__list{
    font-size: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 220px;
    border: 1px solid rgba(107, 127, 153, 0.2);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    
}
.nav__menu_item:hover .menu{
    max-height:540px;
    height: 100%;
    margin-top: 5px;
}.nav__menu_item-brends:hover .menu-brends{
    max-height:540px;
    height: 100%;
    margin-top: 5px;
}
.menu__link{
    display: flex;
    gap: 20px;
    color: black;
    font-size: 20px;
    font-family: 'Open Sans';
}.menu__list_link a{

    color: black;
    font-size: 17px;
    margin-left: 20px;

}

.info{
    background-color: rgb(10, 10, 98);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 55px;
}
.info__right{
    display: flex;
    gap: 30px;
    margin-right: 320px;

}
.info__right_link{
    color: #fff;
    font-size: 16px;
    font-family: 'Open Sans';
}
.info__left{
    display: flex;
    gap: 40px;
    align-items: center;
}
.info__left_right{
    display: flex;
    align-items: center;
    gap: 10px;
}
.info__left_right-numbers{
    display: flex;
    flex-direction: column;
}
.number{
    color: white;
    font-size: 15px;
}
.phone{
    width: 26px;
    height: 26px;
}
.info__left_left{
    display: flex;
    gap: 15px;
}
select{
    outline: none;
    border: none;
    background: rgb(10, 10, 98);
    color: #fff;
}
option{
    background-color: #fff;
    border: none;
    color: black;
}
.slider{
    height: 450px;
    background-image: url(./img/header_bg.webp) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.slider__title{
    color: #fff;
    margin-left: 65px;
    font-weight: 900;
    font-size: 40px;
    font-family: 'Open Sans';
    
    
}
.slider__btn{
    margin-left: 65px;
    color: #fffcfc;
    background-color: #fff;
    width: 100px;
    border-radius: 8px;
    text-align: center;
    padding: 20px 20px;
    background-color: rgb(10, 10, 98);
}
.number{
    font-family: 'Open Sans';
    font-weight: 500;
}
